<script setup>
import {ref, reactive} from "vue";
import { Search } from '@element-plus/icons-vue'
const tableData = ref(null)
const loading = ref(false)

const searchItems = reactive({
    name: '',
    price: '',
    bedrooms: '',
    bathrooms: '',
    storeys: '',
    garages: '',
})
let validateError = ref({})
const getHouses = () => {
    loading.value = true;
    axios.get('/api/get-houses', { params: searchItems })
        .then(response => {
            tableData.value = response.data
            validateError.value = {}
        }).catch(error => {
            Object.assign(validateError.value, error.response.data.errors )
        }).finally(() => {
            loading.value = false
        })
}
</script>

<template>
    <div style="padding: 30px">
        <el-form>
            <el-row :gutter="20" style="margin-bottom: 40px">
                <el-col :span="3">
                    <el-form-item>
                        <el-input
                            v-model="searchItems.name"
                            style="max-width: 300px"
                            placeholder="Please name"
                            class="input-with-select"
                        >
                        </el-input>
                        <el-text size="small" type="danger" v-if="validateError.name">{{ validateError.name[0] }}</el-text>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item>
                        <el-input
                            v-model="searchItems.price"
                            style="max-width: 300px"
                            placeholder="Please price"
                            class="input-with-select"
                        >
                        </el-input>
                        <el-text size="small" type="danger" v-if="validateError.price">{{ validateError.price[0] }}</el-text>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item>
                        <el-input
                            v-model="searchItems.bedrooms"
                            style="max-width: 300px"
                            placeholder="Please bedrooms"
                            class="input-with-select"
                        >
                        </el-input>
                        <el-text size="small" type="danger" v-if="validateError.bedrooms">{{ validateError.bedrooms[0] }}</el-text>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item>
                        <el-input
                            v-model="searchItems.bathrooms"
                            style="max-width: 300px"
                            placeholder="Please bathrooms"
                            class="input-with-select"
                        >
                        </el-input>
                        <el-text size="small" type="danger" v-if="validateError.bathrooms">{{ validateError.bathrooms[0] }}</el-text>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item>
                        <el-input
                            v-model="searchItems.storeys"
                            style="max-width: 300px"
                            placeholder="Please storeys"
                            class="input-with-select"
                        >
                        </el-input>
                        <el-text size="small" type="danger" v-if="validateError.storeys">{{ validateError.storeys[0] }}</el-text>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-form-item>
                        <el-input
                            v-model="searchItems.garages"
                            style="max-width: 300px"
                            placeholder="Please garages"
                            class="input-with-select"
                        >
                        </el-input>
                        <el-text size="small" type="danger" class="" v-if="validateError.garages">{{ validateError.garages[0] }}</el-text>
                    </el-form-item>
                </el-col>
                <el-col :span="3">
                    <el-button type="primary" @click="getHouses" :icon="Search" />
                </el-col>
            </el-row>
        </el-form>

        <el-table v-loading="loading" :data="tableData" style="width: 80%">
            <el-table-column prop="name" label="Name" width="250" />
            <el-table-column prop="price" label="Price" width="250" />
            <el-table-column prop="bedrooms" label="Bedrooms" width="250" />
            <el-table-column prop="bathrooms" label="Bathrooms" width="250" />
            <el-table-column prop="storeys" label="Storeys" width="250" />
            <el-table-column prop="garages" label="Garages" width="250" />
        </el-table>
    </div>

</template>

